.body-bg {
  background: rgb(22,90,28);
  background: linear-gradient(31deg, rgba(22,90,28,1) 19%, rgba(8,56,12,1) 100%);
  height: 100vh;
}

.pulsing-button {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}

